body {
  padding-top: 50px;
}

h2 {
	color: #f71570;
	margin-top: 10px;
}

.navbar-inverse {
	background-color: #ededed;
	border-bottom-color: #f71570;
}

.navbar-inverse .navbar-nav > li > a {
	color: #333;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #f71570;
}

.navbar > .container .navbar-brand {
	color: #f71570;
	font-weight: bold;
	font-size: 30px;
}

.starter-template {
  padding: 0 15px;
}

.image-item img {
	width: 100%;
}

.image-item {
	border: 4px double #ededed;
	margin: 0 0 5px 0;
	padding: 5px;
	width: 25%;
	float: left;
}

#control_board {
	padding: 0 0 0 60px;
}

.row {
	padding: 0 0 10px 0;
}

.row label {
	float: left;
	width: 100px;
}

.form-control {
	width: 100px;
	float: left;
	text-align: center;
}

.score-board {
	border: 4px double #EDEDED;
	padding: 20px 10px 10px 40px;
}

.categories {
    text-align: left;
    width: 200px;
}

#score,
#time,
#click {
    color: #F71570;
    font-weight: bold;
}
